
p{
    font-size: 17px;
    text-align: justify;
}

.g-map{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.image img{
    transition: .2s linear;
}

.image:hover img{
    transform: scale(1.02);
}

.popup-image{
    margin-top: 72px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image span{
    position: absolute;
    top: 20;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 100;
}

.popup-image img{
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

/* .all-title-box{
    background-image: none;
} */

.g-map iframe{
    width: 100%;
}

.top-space{ 
    width: 100%;
}
.home-title{
    padding-top: 30%;
}

.home-title h2{
    margin-left: 5%;
    color: rgba(255, 166, 0, 0.897);
    font-size: 40px;
    text-align: left;
    font-size: 30px;
    /* text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px; */
    /* text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px; */
}
.home-title h3{
    margin-left: 5%;
    color: aliceblue;
    font-size: 40px;
    text-align: left;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

.about-college{
    text-align: justify;
}
.flaticon-open-envelope{
    display: inline;
}

.icon-box-hmv{
    border: none;
}


.icon-box-hmv #tshirt{
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    width: 150px;
    height: auto;
}
.icon-box-hmv #girl{
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    width: 140px;
    height: auto;
}



/* Bullet */

.bullet ul { list-style: none; } /* Remove default bullets */

.bullet ul li {
    position: relative;
    text-align: justify;
    font-size: 16px;
    padding: 0px 0px 0px 5px;
}
.bullet li::before {
    content: "\25CE"; /* Unicode bullet symbol */

    position: absolute;
    width: 12px;
    height: 12px;
    left: -20px;
    top: 8px;
    content: '';
    border-right: 2px solid tomato;
    border-top: 2px solid tomato;
    transform: rotate(45deg);
}


/*  Bullet  */

/* Images Shadow */
.img-shadow{
    background-color: rgb(255, 247, 234) ;
    box-shadow: 10px 10px 40px gray;
}
/* Teachers Group */
.teachers-group h2{
    color: rgba(0, 0, 0, 0.795);
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.teachers-group{
    background-color: aliceblue;
}
/*  rgb(255, 247, 234) */
/* #0B0B3A */